.weather-container {
    background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }
  
  .weather-info {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .background-image {
    display: none; 
  }
  